{% extends 'ledger/recipe_header.html' %}
{% load static %}
{% block content %}
    <h2>{{ object.name }} </h2>

    {% for image in object.recipe_images.all %}
        <img src="{{ image.recipe_image.url }}" alt="{{ image.description }}">
    {% endfor %}

    <p>{{ object }}</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">
            Submit
        </button>
    </form>
    <a href="/recipes/list">Back to Recipes List</a>
{% endblock %}
</html>