<!DOCTYPE html>
<html>
<head>
    <title>Recipe 2</title>
</head>
<body>
    <h3>Recipe 2</h3>

    <div>
        <h3>Ingredients</h3>
        <ul>
            <li>garlic: 1 head</li>
            <li>onion: 1pc</li>
            <li>vinegar: 1/2cup</li>
            <li>water: 1 cup</li>
            <li>salt: 1 tablespoon</li>
            <li>whole black peppers: 1 tablespoon</li>
            <li>pork: 1 kilo</li>
        </ul>
    </div>

    <a href="/recipes/list">Back to Recipes List</a>

</body>
</html>
